# wxPython # use dev/wxPython-4.2.0-cp38-cp38-linux_x86_64.whl
pandas~=2.0.3
matplotlib==3.2.2
backtrader~=1.9.78.123
git+https://github.com/quantopian/pyfolio
backtrader_plotting
scipy~=1.10.1
statsmodels
quantstats
requests~=2.32.3
loguru~=0.7.3
binance-connector
# ta-lib   # use dev/TA_Lib-0.4.28-cp38-cp38-linux_x86_64.whl
numpy~=1.24.3
pillow~=10.4.0
pykalman
# tables
IPython~=8.12.3
scikit-learn~=1.3.2
empyrical
jupyter
# gym[all]
pyglet==1.5.0
tensorboard
tensortrade
yfinance~=0.2.51
efinance~=0.5.2
akshare~=1.15.61
pandas_datareader
tushare~=1.4.14
torch~=2.4.1
xgboost~=2.1.3
gym~=0.26.2
prometheus-client~=0.21.1
wxPython~=4.2.1
tqdm~=4.67.1
pytz~=2024.2
pywin32~=308
setuptools~=68.2.0
urllib3~=2.2.3
python-dateutil~=2.9.0.post0
seaborn~=0.13.2
plotly~=5.24.1
tabulate~=0.9.0
keras~=2.13.1
tensorflow~=2.13.0
simplejson~=3.19.3
bs4~=0.0.2
beautifulsoup4~=4.12.3
pycryptodome~=3.21.0
pandas-datareader~=0.10.0
